/* if the viewport is equal to 340px or less than that */
@media only screen and (max-width: 340px) {
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-us-area .subscribe .subscribe-title,
    .site-main .subscribe-us-area .subscribe .subscribe-title p, h4,
    .site-main .services-area,
    .site-main .subscribe-us-area .subscribe {
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1 {
        font-size: 41px;
    }

    .site-main .subscribe-us-area .subscribe form .input-textbox input {
        width: 15rem !important;
    }

    .site-main > .services-area .services {
        width: 13rem;
    }
}

/* if the viewport is equal to 1200px or less than that */
@media only screen and (max-width: 1200px) {
    .services-list {
        margin: 0;
    }
}

/* if the viewport is equal to 991px or greater than that */
@media only screen and (min-width: 991px) {
    .mobile-img-banner {
        display: none;
    }
}

/* if the viewport is equal to 991px or less than that */
@media only screen and (max-width: 991px) {
    .site-banner {
        padding-bottom: 20%;
    }

    .mobile-img-banner {
        height: 150px;
        width: 150px;
        position: absolute;
        right: 20px;
        top: 20px;
        display: block;
    }

    .main-banner-img {
        display: none;
    }

    .about-me-title {
        text-align: center;
    }

    .paragraph {
        text-align: center;
        width: 100% !important;
    }

    .about-me-buttons {
        display: flex;
        justify-content: space-around;
        max-width: 100%;
        align-items: center;
        padding: 0 25%;
    }

    .footer-area {
        padding-top: 8rem !important;
        padding-bottom: 3rem !important;
    }

    .col-sm-12 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .services-list {
        margin: auto;
    }
}

@media only screen and (max-width: 745px) {
    .about-me-buttons {
        padding: 0 20%;
    }
}

@media only screen and (max-width: 607px) {
    .about-me-buttons {
        padding: 0 15%;
    }
}

@media only screen and (max-width: 515px) {
    .about-me-buttons {
        padding: 0;
    }

    .site-main .site-banner .site-title h4 {
        font-size: 1.2rem;
    }
}

/* if the viewport is equal to 475px or less than that */
@media only screen and (max-width: 475px) {
    .site-banner {
        padding-bottom: 45%;
    }
}

/* if the viewport is equal to 375px or less than that */
@media only screen and (max-width: 375px) {
    .mobile-img-banner {
        height: 100px;
        width: 100px;
    }
}

/* if the viewport is equal to 340px or less than that */
@media only screen and (max-width: 792px) {
    .site-main .about-area .about-title h2 > span {
        font-size: 31px;
        letter-spacing: 10px;
    }

    .site-main .brand-area .experience-area .years-area {
        padding-left: 1%;
        width: 49%;
    }

    .site-main .brand-area .experience-area .bg-panel {
        margin-left: 30%;
        width: 80%;
    }

    .site-main .brand-area .experience-area .call-area {
        padding-left: 3%;
    }

    .site-main .project-area .button-group button {
        font: normal 500 18px/40px var(--roboto);
    }

    .site-main .about-area .about-title p {
        padding: 0%;
    }

    .site-main .subscribe-us-area .subscribe form .input-textbox input {
        width: 20rem;
        margin: 5%;
    }
}

@media only screen and (max-width: 1388px) {
    .margin-delete {
        margin: 0 10%;
    }
}

/* if the viewport is equal to 1910px or less than that */
@media only screen and (max-width: 1910px) {
    .header_area .main-menu .navbar {
        padding: 1rem;
    }

    .container {
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area {
        padding: 3% 4%;
    }
}