/* Global Classes */
.title-text {
    font: normal bold 50px/ 72px var(--roboto);
}

.margin-delete {
    margin: 15%;
}

.text-uppercase {
    text-transform: uppercase;
}

p.para {
    color: var(--text-color);
    font: normal 500 16px/ 25px var(--roboto);
}

.font-roboto {
    font-family: var(--roboto);
}

.title-h1 {
    font: normal bold 39px/ 40px var(--roboto);
}